@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  text-transform: uppercase;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-transform: uppercase;
}

.header {
  padding: 2rem 0 8rem 0;
}
@media screen and (max-width: 1400px) {
  .header {
    padding: 2rem 0 4rem 0;
  }
}
.header__wrapper {
  width: 98%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__izq {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__svghamburguesa {
  width: 2rem;
}
.header__h1 {
  width: 24rem;
}
@media screen and (max-width: 1400px) {
  .header__h1 {
    width: 14rem;
  }
}
.header__filtro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9rem 0 0 0;
}
.header__li {
  margin: 0.3rem 0.6rem;
}
.header__button {
  cursor: pointer;
}
.header__button.activo {
  font-weight: 700;
}
.header__buscar {
  width: 4%;
  border-bottom: 1px solid black;
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__aelement {
  margin: 0 1.4rem;
}
.header__svgelement {
  width: 1.6rem;
}

.zara {
  position: relative;
}
.zara__wrapper {
  width: 98%;
  margin: auto;
}
.zara__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.zara__a {
  margin: 0.8rem;
}
.zara .ocultar {
  display: none;
}
.zara__popup {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.zara__popup.activo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.zara__fondo {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}
.zara__contendor {
  width: 90%;
  background-color: white;
  max-width: 1400px;
  margin: auto;
  max-height: 745px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 2;
}
.zara__cuidados {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 2rem 2rem 0;
}
.zara__tit {
  font-weight: 700;
  margin-top: 2rem;
}
.zara__p {
  text-transform: none;
  margin: 1rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}
.zara__pext {
  text-transform: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}
.zara__producto {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 2rem 0 4rem;
}
.zara__h2 {
  font-size: 1.4em;
  font-weight: 700;
}
.zara__descrip {
  margin: 1rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}
.zara__descrip.minus {
  text-transform: none;
}
.zara__tallas {
  border-bottom: 1px solid black;
}
.zara__talla {
  margin: 0.3rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}
.zara__aniadir {
  width: 100%;
  padding: 1rem 0;
  background-color: black;
  color: white;
}
.zara__grande {
  width: 32%;
  position: relative;
  z-index: 3;
}
.zara__close {
  width: 1rem;
  position: absolute;
  z-index: 3;
  top: 5%;
  right: 5%;
  cursor: pointer;
}